@page
@model Firewatch.Abrigos.Pages.Abrigos.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Abrigo";
}

<h1>Detalhes do Abrigo</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Model.Abrigo.Nome</dd>

    <dt class="col-sm-3">Cidade</dt>
    <dd class="col-sm-9">@Model.Abrigo.Cidade?.Nome</dd>

    <dt class="col-sm-3">Capacidade</dt>
    <dd class="col-sm-9">@Model.Abrigo.Capacidade</dd>

    <dt class="col-sm-3">Recursos</dt>
    <dd class="col-sm-9">@Model.Abrigo.RecursosDisponiveis</dd>

    <dt class="col-sm-3">Tipo</dt>
    <dd class="col-sm-9">@Model.Abrigo.TipoAtendimento</dd>

    <dt class="col-sm-3">Latitude</dt>
    <dd class="col-sm-9">@Model.Abrigo.Latitude</dd>

    <dt class="col-sm-3">Longitude</dt>
    <dd class="col-sm-9">@Model.Abrigo.Longitude</dd>
</dl>

<a asp-page="./Edit" asp-route-id="@Model.Abrigo.Id" class="btn btn-warning">Editar</a>
<a asp-page="./Index" class="btn btn-secondary">Voltar à Lista</a>
